body {
	font-family: 'Nanum Gothic', sans-serif;
	background-color: #eee;
	font-size: 12px;
}

h5 {
	font-weight: bold;
	margin-bottom: 20px;
	background: #eee;
	height: 30px;
	padding: 7px 10px;
	box-sizing: border-box;
}

a {
	&:link,
	&:visited,
	&:active,
	&:hover {
		color: inherit;
		text-decoration: inherit;
	}
}

/*
 *bootstrap reset
 */
.form-control-feedback {
	right: 0 !important;
}

.btn-primary {
	background-color: #4db14e;
	border-color: #8fe490;

	&:hover, &:active, &:focus {
		background-color: #237024 !important;
		border-color: #237024 !important;
	}
}

/*
 *polymer components reset
 */

.paper-radio-group-0  > * {
	padding: 7px !important;
}

paper-checkbox {
	margin-top: 6px;
	width: 16px;
}
