<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias alias="locale" type="java.util.Locale"/>
	</typeAliases>
	<typeHandlers>
		<!--<typeHandler handler="org.apache.ibatis.type.SqlTimestampTypeHandler" javaType="java.sql.Timestamp"/>
		<typeHandler handler="alpha.infra.mybatis.InputStreamTypeHandler" />
		<typeHandler handler="alpha.infra.mybatis.ReaderTypeHandler"/>-->
	</typeHandlers>
</configuration>