.menu {
	height: 45px;
	background-color: #eaeaea;
	border-bottom: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	padding: 11px 10px;
	box-sizing: border-box;
	width: 100%;
	display: inline-block;

	&.iron-selected {
		background-color: white;
		color: black;
	}
}

.submenu {
	padding-left: 30px;
}

