 <link rel="import" href="/bower_components/iron-input/iron-input.html" />
<link rel="import" href="/bower_components/iron-validatable-behavior/iron-validatable-behavior.html" />
<link rel="import" href="/bower_components/iron-form-element-behavior/iron-form-element-behavior.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html" /> 


<dom-module id="normal-input">
    <template>
        <div id="container">
            <input id="input" is="iron-input" class="form-control input-sm" bind-value="{{value}}" placeholder="{{placeholder}}" required="{{required}}" max-length="{{maxlength}}" />
            <span class="glyphicon form-control-feedback">
                <iron-icon id="icon" icon="close" class="hide"></iron-icon>
            </span>
        </div>
    </template>

    <script src="js/moment.js"></script>
    <script src="js/pikaday.js"></script>
    <script>
        Polymer({
            is: 'normal-input',

            behaviors: [Polymer.IronFormElementBehavior, Polymer.IronValidatableBehavior],

            properties: {
                name: String,
                type: {
                    type: String,
                    observer: '_assignType'
                },
                value: {
                    type: String,
                    notify: true
                },
                placeholder: {
                    type: String
                },
                maxlength: Number,
                required: {
                    type: Boolean,
                    value: false
                },
                readonly: {
                    type: Boolean,
                    value: false,
                    observer: '_setReadonly',
                },
		transparent: {
			type: Boolean,
			value: false
		},
            },

	    attached: function() {
		    if (this.transparent)
			    this._makeTransparent();
	    },

            _assignType: function(value) {
                switch (value) {
                    case "number":
                        this.$.input.allowedPattern = "[0-9]";
                        break;
                    case "password":
                        this.$.input.setAttribute("type", value);
                        break;
                }
            },

            _getValidity: function() {
                if (this.required) {
                    this._toggleErrorGraphic(!!this.value ? false : true);
                    return !!this.value;
                }
                return true;
            },

            _toggleErrorGraphic: function(flag) {
                if (flag) {
                    this.$.container.classList.add("has-error");
                    this.$.container.classList.add("has-feedback");
                    this.$.icon.classList.remove("hide");
                } else {
                    this.$.container.classList.remove("has-error");
                    this.$.container.classList.remove("has-feedback");
                    this.$.icon.classList.add("hide");
                }
            },

            _invalidChanged: function() {
                this._toggleErrorGraphic(this.invalid ? true : false);
            },

            _setReadonly: function(flag) {
                if (flag)
                    this.$.input.setAttribute("readonly", true);
                else
                    this.$.input.removeAttribute("readonly");
            },

	    _makeTransparent: function() {
		    this.$.input.classList.add('transparent-input');
	    },
        })
    </script>
</dom-module>
